* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    margin-left: 20px;
    font-size: 24px;
    background: linear-gradient(90deg, #7700ff, #ff0000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 5px 10px;
    width: fit-content;
    max-width: 300px;
}

.search-box input {
    border: none;
    background: transparent !important;
    padding: 8px;
    color: white;
    outline: none;
    width: auto;
    min-width: 100px;
}

.search-box button {
    background: #534e46;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
}

.search-box i {
    background: transparent;
    color: rgb(138, 135, 135);
    border: none;
    padding: 5px;
    border-radius: 0 0 0 10px;
    cursor: pointer;
}

i:hover {
    color: #726464;
}

.search-box button:hover {
    background: linear-gradient(90deg, #f3030f, #ff0080);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    #weather-container {
        width: 50%;
        max-width: 400px;
    }

    #weekly-forecast {
        height: 80%;
    }
}

#weather-container {
    background: rgba(14, 3, 3, 0.6);
    max-width: 90%;
    width: 400px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(14, 2, 2, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    position: relative;
    margin: 20px;
}

h2,
label,
p {
    color: #fff;
    margin: 2px 0;
}

h2 {
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientText 3s infinite alternate;
}

@keyframes gradientText {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

#city-name{
    margin-top: 10px;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    background: transparent;
    border-radius: 5px;
    border-bottom: 1px solid rgba(14, 2, 2, 0.1);
    border-top: 1px solid rgba(14, 2, 2, 0.1);
    width: 100%;
    background: linear-gradient(20deg, #130005, #f88e02);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Georgia;
}

#weather-description{
    font-size: 20px;
    font-weight: 400;
    font-family: Times New Roman;
    margin-bottom: 16px;
}

#temp-div p {
    font-size: 50px;
    margin-top: -30px;
}

#weather-info {
    font-size: 16px;
}

#weather-icon {
    max-width: 200px;
    height: 160px;
    margin: 0 auto 10px;
    display: none;
}

.hwdt{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid black;
}

.humi, .wind, .dat, .tim{
    display: flex;
    align-items: center;
}

#humi-icon, #wind-icon, #date-icon, #time-icon{
    font-size: 40px;
}

.h, .w, .d, .t{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.humi, .dat{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    width: 100%;
}

.wind, .tim{
    padding-top: 5px;
}

#wi, #hu, #da, #ti{
    font-size: 12px;
}

#right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid black;
}

#hourly-forecast {
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.hourly-item {
    flex: 0 0 auto;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: rgba(245, 245, 245, 0.562);
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.bg-video.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#weekly-forecast {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: rgb(250, 246, 246);
    backdrop-filter: blur(8px);
}

h3 {
    background: linear-gradient(0deg, #fd2002, #faf601);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style:initial;
}

#forecast-container {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 560px;
}

.daily-item {
    position: relative;
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.daily-item img {
    width: 50px;
    height: 50px;
}

.daily-item span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.daily-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background 0.3s;
}

.daily-item:hover {
    background: rgba(240, 100, 255, 0.1);
}

.daily-details {
    display: none;
    max-height: 0;
    overflow: hidden;
    padding: 0 !important;
    margin-top: 10px;
    border: 1px solid #ccc;
    transition: max-height 0.5s ease-in-out;
}

.daily-details.show {
    display: block;
    max-height: 300px;
    padding: 10px !important;
    border: 1px solid #ccc;
}

#login-btn {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 12px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 0 16px 0 16px;
    background: linear-gradient(90deg, #f3030f, #ff0080);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content p {
    margin-top: 10px;
    font-size: 14px;
}

.modal-content a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

#signup-modal {
    display: none;
}

#login-modal p{
    color: black;
}

footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .search-box {
        width: auto;
        margin: auto;
    }

    footer {
        font-size: 14px;
    }
}

#hourly-forecast::-webkit-scrollbar{
    height: 6px;
}

#hourly-forecast::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(248, 3, 23, 0.4), rgba(248, 80, 3, 0.4));
    border-radius: 12px;
}

html, body {
    height: 100%;
    overflow-y: auto;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-track{
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7, 0.8);
    border-radius: 12px;
}